<div class="left_right_layout">
    <div class="left_layout_wrap" id="depTreePanel"></div>
    <div class="right_layout_wrap">
        <div>
            <h5 class="section">角色列表</h5>
        </div>
        <!-- action grid -->
        <div class="esys-action-grid">
            <div class="col">
                <!-- 搜索 组件 -->
                <div class="esys-search">
                    <dl>
                        <dt>
                            <input type="text" class="form-control xyz_validate_input" id='role_search_input' placeholder="输入名称搜索">
                            <i class="fa fa-search"></i>
                        </dt>
                    </dl>
                </div>
                <!-- // 搜索 组件 -->
            </div>
            <div class="col last">
                <button id="addRoleBtn" class="btn btn-action-lv1">新增角色</button>
            </div>
        </div>
        <!-- // action grid -->
        
        <!--标题栏//-->
        <div id="roleTable"></div>
    </div>
</div>