<div class="top_bottom_layout">
<h5 class="section">系统参数维护</h5>
<form id="queryForm" class="shine_form edit" >
      <div class="condition_top_body condition_top_trans" style="margin: 10px 0 5px;">
        <div class="col"> 
            <div class="esys-search">
              <dl>
                <dt>
                  <input type="text" class="form-control xyz_validate_input"  name="param_name"  id="sysParam_search_input"  placeholder="参数名模糊匹配">
                  <i class="fa fa-search"></i>
                </dt>
              </dl>
            </div> 
        </div>
    </div>
 </form>
    <div id="sysParamTable" class="esys-editable"></div>
</div>
 