<div id = "basic_info" class="esys-alert">
    <p>
        <i class="xy-icon xy-Prompt"></i>用户被关联后，即可获得该角色所描述的操作权限
    </p>
    <span>
        <a id="view_permsion">查看权限 </a>
    </span>
</div>
<!-- action grid -->
<div class="esys-action-grid mt10">
    <div class="col">
        <h5 class="section">角色列表</h5>
    </div>
    <div class="col last">
        <button type="button" class="btn btn-action-lv1 pull-right hide_btn" id="btn-rela"> 关联角色</button>
    </div>
</div>
<!-- // action grid -->
<div id="userRightTable">
