
<div class="index_header" style="top: 0px;">
    <!-- logo start -->
    <div class="index_header_logo">
      <div class="dropdown_wrapper app_title">
        <div class="app_switch">
          <img src="../../../../assets/business/index/shine_logo_97.png">
        </div>
      </div>
    </div>
    <!-- //logo end -->
</div>
<div class="psw-reset-wrapper">
  <div class="psw-reset">
    <form id="form" class="shine_form edit password-form-wrap">
    <h3>密码修改</h3>
    <div class="psw-form">
      <div class="tip">
          <span>本次登陆需要修改密码可能由以下几种原因造成:</span>
          <span>1、密码过期；</span> 
          <span>2、首次登陆必须修改密码；</span>
          <span>3、密码被重置；</span>
      </div>
      <ul>
        <li>
          <label>旧密码</label>
          <div ctl>
		      	<input type="password" class="form-control xyz_validate_input" id="old_user_pwd" name="old_user_pwd" required />
          </div>
        </li>
        <li>
          <label>新密码</label>
          <div ctl>
              <input type="password" class="form-control xyz_validate_input" id="new_user_pwd" name="new_user_pwd" required />
          </div>
        </li>
        <li>
          <label>确认密码</label>
          <div ctl>
              <input type="password" class="form-control xyz_validate_input" name="newPwd2" required />
          </div>
        </li>
      </ul>
    </div>
    <div class="btn-wrap">
      <button type="button" class="btn btn-action-lv1" id="saveBtn">确定</button>
      <button type="button" class="btn btn-cancel-lv1" id="cancelBtn">清空</button>
    </div>
  </form>
  </div>
</div>
