<div class="appSetting-wrap style_v1">
    <div class="appSetting-group ">
        <div class="appSetting-group-title">
            配置入口图标隐藏
        </div>
        <div class="appSetting-group-content">
            <div id="entrance" class="entrance-switch-wrap"></div>
            <div class="entrance-switch-info">
                <i class="xy-icon xy-Prompt"></i>
                首页窗口的“首页配置”入口图标隐藏后，需在“用户中心-首页配置”进入
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="appSetting-group app-list-set">
        <div class="appSetting-group-title">
                组件选择
        </div>
        <div class="appSetting-group-content">
            <!--div class="app-list-box">
                <div class="form_checkbox app-item">
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="checkboxes" value="y">待办任务1（来源系统）<i data-code="y"></i><span></span>
                    </label>
                </div>
                <div class="form_checkbox app-item">
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="checkboxes" value="y">待办任务2（来源系统）<i data-code="y"></i><span></span>
                    </label>
                </div>
                <div class="form_checkbox app-item">
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="checkboxes" value="y">待办任务3（来源系统）<i data-code="y"></i><span></span>
                    </label>
                </div>
                <div class="form_checkbox app-item">
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="checkboxes" value="y">待办任务4（来源系统）<i data-code="y"></i><span></span>
                    </label>
                </div>
                <div class="form_checkbox app-item">
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="checkboxes" value="y">待办任务5（来源系统）<i data-code="y"></i><span></span>
                    </label>
                </div>
                <div class="form_checkbox app-item">
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="checkboxes" value="y">待办任务6（来源系统）<i data-code="y"></i><span></span>
                    </label>
                </div>
                <div class="clearfix"></div>
            </div-->
        </div>
        
    </div>
   
</div>
