<form id="createUserForm" class="shine_form edit" onSubmit="return false;">
    <div class="form-wrap">
        <label>用户名</label>
        <div class="row">
            <div class="col">
                <input type="text" class="ipt form-control xyz_validate_input" name="username" id="username" required>
            </div>
        </div>
        <label>密码</label>
        <div class="row">
            <div class="col">
                <input type="password" class="ipt form-control xyz_validate_input" name="password" id="password" required>
            </div>
        </div>
        <label>确认密码</label>
        <div class="row">
            <div class="col">
                <input type="password" class="ipt form-control xyz_validate_input" name="password2" id="password2" required>
            </div>
        </div>
    </div>
    <div class="form-footer">
        <button class="btn" id="btn-create">创建</button>
    </div>
</form>