<div class="top_bottom_layout">
<h5 class="section">操作日志查询</h5>
<form id="queryForm" class="shine_form edit" >
    <div class="condition_top_body condition_top_trans" style="margin-top: 10px;">
        <div class="condition_top">
            <div class="condition_top_left">
                <div class="condition_top_content_div fit">
                    <div class="condition_top_content_title">操作日期</div>
                    <div class="condition_top_content_dom" id="datepicker"></div>
                </div>
                <div class="condition_top_content_div conceal clear_both">
                    <div class="condition_top_content_title">关键字</div>
                    <div class="condition_top_content_dom">
                        <input class="form-control xyz_validate_input" name="op_desc_key" placeholder="请搜索操作内容关键字！">
                    </div>
                </div>
                <div class="condition_top_content_div conceal " >
                    <div class="condition_top_content_title">功能模块</div>
                    <div id="menuselect" class="condition_top_content_dom"></div>
                </div>
                <div class="condition_top_content_div conceal" >
                    <div class="condition_top_content_title">操作员</div>
                    <div id="userselect" class="condition_top_content_dom"></div>
                </div>
                <div class="condition_top_content_div conceal clear_both">
                    <div class="condition_top_content_title">操作类型</div>
                    <div class="condition_top_content_dom">
                        <input class="form-control xyz_validate_input" name="op_type_ext" placeholder="请输入操作类型！">
                    </div>
                </div>
                <div class="condition_top_content_div conceal">
                    <div class="condition_top_content_title">操作结果</div>
                    <div class="condition_top_content_dom">
                        <div id="resultSelect"></div>
                    </div>
                </div>
            </div>
            <div class="condition_top_right">
                <div class="condition_top_more_div">
                    <div class="condition_top_more_btn_div">
                        <span class="more">更多</span>
                        <i class="xy-icon condition_top_more_btn xy-drop-down"></i><!--xy-shangla-->
                    </div>
                    <div class="condition_top_more_search">
                        <button type="button" class="btn btn-view-lv1 condition_top_query_btn" id="query_btn">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--标题栏//-->
<div id="logTable"></div>
</div>