<div class="top_bottom_layout">
<h5 class="section">登录日志查询</h5>
<form id="queryForm" class="shine_form edit" >
    <div class="condition_top_body condition_top_trans" style="margin-top: 10px;">
        <div class="condition_top">
            <div class="condition_top_left">
                <div class="condition_top_content_div fit">
                    <div class="condition_top_content_title">登录日期</div>
                    <div class="condition_top_content_dom" id="datepicker"></div>
                </div>
                <div class="condition_top_content_div">
                    <div class="condition_top_content_title">操作员</div>
                    <div id="userselect" class="condition_top_content_dom"></div>
                </div>
            </div>
            <div class="condition_top_right">
                <div class="condition_top_more_div">
                    <div class="condition_top_more_search">
                        <button type="button" class="btn btn-view-lv1 condition_top_query_btn" id="query_btn">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="logTable"></div>
</div>