<div class="esys-inner-layout">
  <div class="esys-inner-layout-left">
        <div class="title_btn_group mb0">
          <h5 class="section pull-left">基础业务数据</h5>
       </div>
      <div id="busi_data_tree_panle" class="esys-datalist-wrap sm">
        <div class="esys-empty-text">没有数据!</div>
      </div>
   </div>
   <!-- 明细数据 -->
  <div class="esys-inner-layout-right">
     <div class="title_btn_group mb0">
           <h5  class="section pull-left"><span id="busi_data_detail_span" >明细数据</span></h5>
     </div>
     <div id="busi_data_detail_panle"  class="esys-datalist-wrap sm onlyview">
      <div class="esys-empty-text">没有数据!</div>
     </div>
  </div>
</div>
