<div class="left_right_layout">
    <!-- <div class="left_layout_wrap" id="depTreePanel"></div> -->
    <div class="right_module_container">
        <div>
            <h5 class="section">角色列表</h5>
        </div>
        <div class="condition_top_body ">
            <div class="condition_item">
                <span class="condition_item_title">角色名称</span>
                <div class="condition_item_cont">
                    <input type="text" class="form-control xyz_validate_input" id='role_search_input' placeholder="输入名称搜索">
                </div>
            </div>
            <div class="condition_item">
                <span class="condition_item_title">适用部门</span>
                <div class="condition_item_cont">
                    <div id="suit_dept_select"></div>
                </div>
            </div>
            <button type="button" class="btn btn-view-lv1 condition_top_query_btn" id="query_btn">查询</button>
            <div class="condition_right_operation">
                <button id="addRoleBtn" class="btn btn-action-lv1">新增角色</button>
            </div>
        </div>
        <!--标题栏//-->
        <div id="roleTable"></div>
    </div>
</div>