<div class="esys-portal-container row">
  <!--<div class="esys-portlet-item col-md-6">
    <div class="esys-portlet">
      <div class="esys-portlet-header">
        <span>我的待办</span>
        <div class="esys-portlet-tools">
          <i class="xy-icon xy-shenglvehao"></i>
        </div>
      </div>
      <div class="esys-portlet-content" >app 内容</div>
    </div>
  </div>

  <div class="esys-portlet-item col-md-6">
    <div class="esys-portlet">
      <div class="esys-portlet-header">便签
        <div class="esys-portlet-tools pull-right"><i class="xy-icon xy-shenglvehao"></i></div>
      </div>
      <div class="esys-portlet-content">app 内容</div>
    </div>
  </div>

  <div class="esys-portlet-item col-md-12">
    <div class="esys-portlet">
      <div class="esys-portlet-header">监控
        <div class="esys-portlet-tools pull-right"><i class="xy-icon xy-shenglvehao"></i></div>
      </div>
      <div class="esys-portlet-content">app 内容</div>
    </div>
  </div>-->
</div>
<!-- 浮动配置 -->
<div class="portal-set" id="setting">
  <i class="xy-icon xy-instructset"></i>
</div>
<!-- // 浮动配置 -->
