<!--表单组合布局 -->
<div class="form_combination dr_func_search_panel" style="margin:6px;height:35px;">
	<div class="form_block">
		<div class="form_block_title">
			应用系统
		</div>
		<div class="form_block_content">
			<div id="appid_select" id="OPEN_LEVEL"></div>
		</div>

		<div class="input-group dropdown" style="width:196px;padding:10px 10px 0px 5px;margin:10px 10px 0px 5px">
			<input type="text" class="form-control search-input-btn" id="SEARCH_ROLE_NAME" value="权限名称"">
			<span class="input-group-btn">
				<button type="button" class="btn grey-steel search-icon-btn">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</div>
	<button class="btn btn-edit pull-right" id="editRight"><i class="fa fa-edit"></i> 修改</button>
    <button type="button" class="btn btn-save pull-right hide" id="saveRight"><i class="fa fa-save"></i> 保存</button>
    <button class="btn btn-cancel pull-right hide" id="cancelRight"><i class="fa fa-reply"></i> 取消</button>
</div>
<div id="role_right_Tree"></div>



	
