    <div class="left_layout_wrap" id="department_tree"></div>
    <div class="right_layout_wrap">
        <div>
            <h5 class="section esys-section-main">用户列表</h5>
        </div>
        <!-- action grid -->
        <div class="esys-action-grid">
            <div class="col">
                <!-- 搜索 组件 -->
                <div class="esys-search">
                  <dl>
                    <dt>
                      <input type="text" class="form-control xyz_validate_input" id='user_search_input' placeholder="输入名称搜索">
                      <i class="fa fa-search"></i>
                    </dt>
                  </dl>
                </div>
                <!-- // 搜索 组件 -->
            </div>
            <div class="col last">
                <button id="user-resetall" class="btn btn btn-edit">重置全部密码</button>
                <button id="user-add" class="btn btn-action-lv1">新增用户</button>
            </div>
        </div>
        <!-- // action grid -->
        <div id="userTable"></div>
    </div>
