<!-- setting start -->
<div class="index_setting">
    <div class="index_setting_panel">
        <div class="st_title">主题色设置</div>
        <div class="st_content">
            <div class="index_setting_theme">
                <ul>
                    <li>
                        <a class="theme blue" href="javascript:void(0)"><i class="xy-icon xy-right"></i></a>
                    </li>
                    <li>
                        <a class="theme orange" href="javascript:void(0)"><i class="xy-icon xy-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="st_title">语言设置</div>
        <div class="st_content mlng">
            <ul>
                <li class="active">中文（简体）</li>
                <li>中文（繁体）</li>
                <li>English（United Kingdom）</li>
                <li>English（United States）</li>
            </ul>
        </div>
    </div>
    <i class='xy-icon xy-delete2 setting_close'></i>
</div>
<div class="index_setting_shadow"></div>
<!-- //setting end -->
