<div class="esys-datalist">
    <div class="esys-datalist-head">
        <!-- 搜索 组件 -->
        <div class="esys-search">
            <dl>
                <dt>
                    <input type="text" class="form-control xyz_validate_input" placeholder="暂无过滤">
                    <i class="fa fa-search"></i>
                </dt>
                <dd>
                    <button type="button" class="btn btn-action-lv1 add_btn">新增</button>
                </dd>
            </dl>
        </div>
        <!-- // 搜索 组件 -->
    </div>
    <div class="esys-datalist-body">
        <h1>
            {title}
            <div class="title-right">
                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                    <input type="checkbox" class="checkboxes" id="showAllDeptBtn">
                    包含注销部门
                    <span></span>
                </label>
            </div>
        </h1>
        <div class="esys-datalist-container"></div>
    </div>
</div>
