<div class="appSetting-wrap">
  <form class="shine_form edit">
    <div class="form_wrap">
      <div class="form_wrap_group_row content_list_1">
        <div class="form_wrap_group" >
         <div class="form_wrap_group_content" style>
          <textarea id="content"  name="content"  class="form-control xyz_validate_input" style="height: 100px;width:450px;" maxlength="200" placeholder="事项内容" required />
        </div>
      </div>
  </div> <!--end ...form_wrap_group_row 1-->
   <div class="form_wrap_group_row content_list_1">
        <div class="form_wrap_group">
             <div class="div_float_left">处理时间</div>
             <div id="process_date_content"  class="div_float_left div_margin_left" style="width:140px;">
             </div>
             <div id="process_time_content" class=" div_float_left div_margin_left" style="width:100px;">
             </div>
              <div class="div_float_left" style=" margin-left: 10px;width:30px;">提醒</div>
              <div class="div_float_left div_margin_left">
                <select id="remind" name="remind" class="xyz_select_trans" style="height:30px">
                  <option value="5">5分钟前</option>
                  <option value="10">10分钟前</option>
                  <option value="30">30分钟前</option>
                  <option value="60">1小时前</option>
                  <option value="120">2小时前</option>
                  <option value="1440">1天前</option>
               </select>
            </div>
          </div>
        </div>
     </div><!--end ...form_wrap_group_row 2-->
    </div>
  </form>
</div>
